
header{
    text-align: center;
    font-family: "Times New Roman";
    background-color: burlywood;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 4px solid gray;
    width: 75%;
    margin: auto;
    flex:auto;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 16px;
    height: 250px;
    
}
.container>img{
    width: 100%;
    max-width: 300px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    flex: 1 1 250px;
}
.paintings::after{
    content: "";
    width: 300px;
}